body{
    margin: 0;
    padding: 0;
}

/* Top part */
#top_part{
    background: #ff2b6b;
    height: 60px;
}
.top_main{
    width: 1141px;
    margin: 0 auto;
}
.phone{
    width: 176px;
    float: left;
}
.phone p{
    color: #fff;
    font: normal 20px "Poppins-Medium", sans-serif;
    margin-top: 15px;
}
.phone p i{
    width: 24px;
    height: 24px;
    left: 0;
}
.mail{
    width: 330px;
    float: left;
    margin-left: 165px;
    text-align: center;
}
.mail p{
    color: #fff;
    font: normal 20px "Poppins-Medium", sans-serif;
    margin-top: 15px;
}
.mail p i{
    width: 24px;
    height: 24px;
    padding-right: 10px;
}
.search{
    width: 303px;
    float: right;
    margin-top: 7px;
}
.search_bar{
    width: 220px;
    height: 40px;
    float: left;
    background: #fff;
    color: #000;
    font: normal 16px "Poppins-Medium", sans-serif;
    border: none;
}
.search_bar:focus{
    outline: none;
}
.button{
    width: 77px;
    height: 42px;
    background: #2b2b2b;
    color: #fff;
    font: normal 20px "Poppins-SemiBold", sans-serif;
    cursor: pointer;
    border: none;
}
.button:focus{
    outline: none;
}

/* Navigation part */
.header_main{
    width: 1141px; 
    margin: 0 auto;
    overflow: hidden;
}
.logo{
    width: 270px;
    float: left;
}
.logo h1{
    font: normal 50px/85px "Poppins-Bold", sans-serif;
    margin: 0;
}
.logo h1 a{
    color: #2b2b2b;
    text-decoration: none;
}
.navbar{
    width: 680px;
    float: right;
}
.navbar ul{
    margin: 0;
    padding: 0;
}
.navbar ul li{
    color: #2b2b2b;
    font: normal 26px/85px "Poppins-SemiBold", sans-serif;
    padding-left: 35px;
    list-style: none;
    float: left;
}
.navbar ul li a{
    color: #2b2b2b;
    text-decoration: none;
}
.navbar ul li a:hover{
    color: gray;
}
/* Banner part */
#banner{
   background: url(images/food.jpg);
   background-repeat: no-repeat;
   background-size: 100% 100%; 
   width: 100%;
   height: 597px;
}
.banner_main{
    width: 1141px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}
.banner_main h2{
    color: #fffefe;
    font: normal 69px "Poppons-Bold", sans-serif;
    padding-top: 162px;
    margin: 0;
}
.banner_main p{
    color: #fffefe;
    font: normal 30px "Poppins-SemiBold", sans-serif;
    padding-top: 10px;
    margin: 0;
}
.view{
    color: #fff;
    font: normal 26px/71px "Poppins-SemiBold", sans-serif;
    text-transform: uppercase;
    background: #ff2a6b;
    width: 260px;
    height: 65px;
    margin-top: 25px;
    border: none;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}
.view:hover{
    background: black;
    color: gray;
}

/* popular part */
#popular{
    background: #efeeee;
    padding: 25px 0 25px 0;
}
.popular_main{
    width: 1141px;
    margin: 0 auto;
    overflow: hidden;
    display: block;
    text-align: center;
}
.popular_left{
    width: 305px;
    float: left;
}
.popular_mid{
    width: 305px;
    float: left;
    margin-left: 102px;
}
.popular_right{
    width: 305px;
    float: right;
}
#popular h4{
    color: #2b2b2b;
    font: normal 50px "Poppins-Bold", sans-serif;
    text-align: center;
    margin: 0 0 25px 0;
    text-transform: uppercase;
}
#popular h4:after{
    content: "";
    width: 180px;
    height: 7px;
    display: block;
    background: #ff2a6b;
    margin: 0 auto;
}

.image{
    width: 300px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.popular_main a {
    color: #222222;
    display: block;
    font: normal 30px "Poppins-Bold", sans-serif;
    padding-bottom: 12px;
    text-decoration: none;
}
.popular_main p {
    color: #4b4a4a;
    font: normal 18px "Poppins-Medium", sans-serif;
    margin: 0;
}

/* menu part */
#menu{
    padding: 25px;
}
.menu_main{
    width: 1141px;
    margin: 0 auto;
    overflow: hidden;
}
.menu_left{
    width: 367px;
    float: left;
}
.menu_mid{
    width: 367px;
    float: left;
    margin-left: 19px;
}
.menu_right{
    width: 367px;
    float: right;
}
#menu h4{
    color: #2b2b2b;
    font: normal 50px "Poppins-Bold", sans-serif;
    text-align: center;
    margin: 0 0 25px 0;
    text-transform: uppercase;
}
#menu h4:after{
    content: "";
    width: 180px;
    height: 7px;
    display: block;
    background: #ff2a6b;
    margin: 0 auto;
} 
.menu_one{
    margin: 25px 0 0 0;
    position: relative;
}
.menu_one img{
    width: 100%;
    height: 290px;
}
.menu_one h2{
    color: #fff;
    font: normal 32px/56px "Poppins-SemiBold", sans-serif;
    height: 56px;
    background: #ff2b6b;
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0;
    margin: 0;
}

/* price part */
#price{
    background: #efeeee;
    padding: 25px 0 25px 0;
}
.price_main{
    width: 1141px;
    margin: 0 auto;
    overflow: hidden;
}
#price h4{
    color: #2b2b2b;
    font: normal 50px "Poppins-Bold", sans-serif;
    text-align: center;
    margin: 0 0 25px 0;
    text-transform: uppercase;
}
#price h4:after{
    content: "";
    width: 180px;
    height: 7px;
    display: block;
    background: #ff2a6b;
    margin: 0 auto;
} 
.price_left{
    width: 629px;
    float: left;
    position: relative;
}
.price_left img{
    width: 100%;
    height: 496px;
}
.price_right{
    width: 490px;
    float: right;
}
.price_caption{
    position: absolute;
    height: 78px;
    background: #ff2b6b;
    bottom: 0;
    width: 100%;
}
.price_caption h2{
    color: #fff;
    font: normal 42px/78px "Poppins-SemiBold", sans-serif;
    width: 450px;
    float: left;
    padding-left: 15px;
    margin: 0;
}
.price_caption span{
    color: #f9f000;
    font: normal 28px/78px "Poppins-SemiBold", sans-serif;
    width: 94px;
    float: right;
    padding-right: 15px;
    margin: 0;
}
.right_one{
    width: 236px;
    float: left;
}
.right_two{
    width: 236px;
    float: right;
}
.price_box{
    position: relative;
    margin: 0  0 20px 0;
}
.price_box img{
    width: 100%;
    height: auto;
}
.box_caption{
     background: #ff2b6b;
     height: 78px;
     position: absolute;
     bottom: 0;
     width: 100%;
}
.box_caption h2{
    margin: 0;
    color: #fff;
    font: normal 28px "Poppins-SemiBold", sans-serif;
    padding: 5px 12px 5px 20px;
}
.box_caption span{
    color: #f9f000;
    font: normal 28px "Poppins-SemiBold", sans-serif;
    padding: 10px;
}
/* footer Part */

#footer{
    background: #2a2929;
    padding: 25px 0 0 0;
}
.footer_main{
    width: 1141px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}
.footer_up ul{
    margin: 0; 
    padding: 0;
}
.footer_up ul li{
    color: #fff;
    font: normal 20px "Poppins-SemiBold", sans-serif;
    position: relative;
    list-style: none;
    display: inline-block;
}
.footer_up ul li:after{
    content: "|";
    color: #fff;
    font: normal 20px "Poppins-SemiBold", sans-serif;
    padding: 0 10px 0 10px;
}
.footer_up ul li:last-child:after{
    display: none;
}
.footer_up ul li a{
    color: #fff;
    text-decoration: none;
}
.footer_mid p{
    color: #dcdcdc;
    font: normal 16px "Poppins-Medium", sans-serif;
    margin: 6px 0 6px 0;
}
.footer_down ul{
    
}
.footer_down ul li{
    display: inline-block;
    padding: 5px;
}
.footer_down ul li a{
    color: white;
    background: #2a2929;
}